*{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    }

#root{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: row-reverse;
}

/* @media screen and (min-width: 380px) and (max-width: 899px) and (min-height:670px) { */

/* VISTA DEL LOGIN */

#divIngresar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #8b42c3 18.48%, #7d3cb6 36.31%, #621ea7 58.39%, #420e86 100%);
    
}
#divLogo{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;    
}
.logo{
    margin-top: 15px;
    width:200px;
    height: 160px;
}

.ingresarE-mail{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.e-mailIcon {
    position: absolute;
    align-self: center;
    pointer-events: none;
    margin-left:20px;
    color:white;
   
  }
  .e-mail {
    background-color:rgba(20, 20, 20, 0.178);
    color:white;
    width: 100%;
    height: 45px;
    border-radius:5px;
    border: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255) ;
}
::placeholder{
     margin-left:auto;
     color: rgba(255, 255, 255, 0.568);
    }

.writePassword{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.password{
    background-color:rgba(20, 20, 20, 0.178);
    color:white;
    width: 100%;
    height: 45px;
    border-radius:5px;
    border: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255) ;
}
.passwordIcon {
    position: absolute;
    align-self: center;
    pointer-events: none;
    margin-left:20px;
    color:white;
  }

#iniciar{
    margin-top: 30px;
    background-color:rgb(224, 69, 224);
    color:white;
    font-size: medium;
    width: 50%;
    height: 45px;
    border-radius:5px;
    border: none;
    
}

#google{
    margin: auto;
    background-color:rgb(223, 215, 215);
    color:black;
    width: 48%;
    height: 35px;
    border-radius:20px;
    border:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#google>p{
    font-size: 14px;
}
.imageGoogle{
    width: 20px;
    height: 20px;
    margin: 5px;
}
#o{
    font-size:18px;
    color:white;
}
#registro{
    color:white;
}

/* VISTA DE REGISTRO */
.div__Username{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

}
.Register__input{
    background-color:rgba(20, 20, 20, 0.178);
    color:white;
    width: 80%;
    height: 45px;
    border-radius:5px;
    border: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255) ;  
}
.Register__input::placeholder { color: rgba(255, 255, 255, 0.568); }



.Register__button{
    margin-top: 30px;
    background-color:rgb(224, 69, 224);
    color:white;
    font-size: medium;
    width: 50%;
    height: 45px;
    border-radius:5px;
    border: none;
}
#Register__iconBack{
    color:rgba(255, 255, 255, 0.493) ;
    font-size: 50px;
    margin-top: 90px;

}
.imageLogin{
    display: none;
}


@media screen and (min-width: 900px){
    #divIngresar{
        width: 50%;      
    }
    .div__imageLogin{
        width: 50%;
        
    }
    .imageLogin{
        display: block;
        opacity: 0.95;
        height: 100%;
        width: 100%;
        
    }
    
}
