*{
    text-align: center;
}

body {
     background-color:rgb(145, 65, 250);
    }
.logo{
    width:210px;
    height:auto;
}    
#correo{
    background-color:rgb(20, 20, 20);
    color:white;
    font-size: 20px;
    width: 70%;
    height: 48px;
    border-radius:5px;
    border-color: white;
}

#contraseña{
    background-color:rgb(20, 20, 20);
    color:white;
    font-size: 20px;
    width: 70%;
    height: 48px;
    border-radius:5px;
    border-color: white;
}

#iniciar{
    background-color:rgb(220, 59, 252);
    color:white;
    font-size: 22px;
    width: 70%;
    height: 50px;
    border-radius:5px;
    border:0;
}

#google{
    background-color:rgb(223, 215, 215);
    color:black;
    font-size: 18px;
    width: 55%;
    height: 38px;
    border-radius:20px;
    border:0;
}

#o{
    font-size:18px;
    color:white;
}

#registro{
    font-size:18px;
    color:white;
}