*{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    }

#root{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #8b42c3 18.48%, #7d3cb6 36.31%, #621ea7 58.39%, #420e86 100%);
}

/* @media screen and (min-width: 380px) and (max-width: 899px) and (min-height:670px) { */

/* VISTA DEL LOGIN */

#divIngresar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */  
}

#divLogo{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 0px;    
}
.logo{
    margin-top: 15px;
    width:200px;
    height: 160px;
}

.ingresarE-mail{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.e-mailIcon {
    position: absolute;
    align-self: center;
    pointer-events: none;
    margin-left:20px;
    color:white;
   
  }
.input__Login {
    background-color:rgba(20, 20, 20, 0.178);
    color:white;
    width: 100%;
    height: 45px;
    border-radius:5px;
    border: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255) ;
}
.input__Login::placeholder{
     margin-left:auto;
     color: rgba(255, 255, 255, 0.787);
    }

.writePassword{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.passwordIcon {
    position: absolute;
    align-self: center;
    pointer-events: none;
    margin-left:20px;
    color:white;
  }

#iniciar{
    margin-top: 30px;
    background-color:rgb(224, 69, 224);
    color:white;
    font-size: medium;
    width: 50%;
    height: 45px;
    border-radius:5px;
    border: none;
    cursor: pointer;
    
}

#google{
    margin-top: 60%;
    background-color:rgb(223, 215, 215);
    color:black;
    width: 48%;
    height: 35px;
    border-radius:20px;
    border:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#google>p{
    font-size: 14px;
}
.imageGoogle{
    width: 20px;
    height: 20px;
    margin: 5px;
}
#oLogin{
    color:white;
    height: auto;
    width: 100%;
    margin-top: 30px;
    
}
#registro{
    color:white;
    margin-top: 30px;
    cursor: pointer;
}

/* VISTA DE REGISTRO */
.div__Username{
    /* width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px; */
    width: 70%;
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.Register__input{
    background-color:rgba(20, 20, 20, 0.178);
    color:white;
    width: 100%;
    height: 45px;
    border-radius:5px;
    border: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255) ;
}
.Register__input::placeholder { color: rgba(255, 255, 255, 0.568); }
.Register__button{
    margin-top: 50px;
    background-color:rgb(224, 69, 224);
    color:white;
    font-size: medium;
    width: 50%;
    height: 45px;
    border-radius:5px;
    border: none;
    cursor: pointer;
}
#Register__iconBack{
    color:rgba(255, 255, 255, 0.493) ;
    font-size: 35px;
    height: auto;
    margin-top: 50px;
    cursor: pointer;

}
.imageLogin{
    display: none;
}

/* --------------- */
/* VISTA DEL HOME */
/* ------------- */
/* header */
.header{
    width: 100vw;
    height: 60px;
    background: linear-gradient(180deg, #8b42c3 18.48%, #7d3cb6 36.31%, #621ea7 58.39%, #420e86 100%);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: fixed;
}
.header__logo-div{
    width: 100vw;
    height: 20px;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color: red; */
}
.header__logo{
    width: 70px;
    height: 20px;
    position: absolute;  
    /* margin-left: 8px; */
    /* background-color: aqua;  */
}
#userName{
    width:40px;
    height: 35px;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: #f800d7;
    border-radius: 50% 50%;
    border: none;
    margin-left: 27px;
    margin-bottom: 3px;
    }
.header__nav{
    width:100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end; 
    margin-inline-end: 2%;
    /* background-color: #f800d7; */
}

.header__nav-ul-li{
    list-style: none;
    display: inline-flex;
}

.icon__header{
    font-size: 22px;
    color: rgb(238, 237, 237);
    margin: 10px;
    cursor: pointer;
}
/* main */
.main{
    background-color: white;
    height: 100vh;
    width: 100vw;
}
.main__div{
    margin-top: 70px;
    /* margin: auto; */
    margin-left: 5%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* background-color: #f800d7; */
    
}
.post__input{
    margin-top: 20px;
    width: 80%;
    height: 100px;
    text-align: left;
    outline: none;
    align-self: center;
}
::placeholder{
    margin-left:auto;
    color: rgb(121, 121, 121);
   }
.post__button{
    width: 90px;
    height: 25px;
    margin-top: 5px;
    background: linear-gradient(180deg, #8b42c3 18.48%, #7d3cb6 36.31%, #621ea7 58.39%, #420e86 100%);
    border: none;
    align-self: flex-end;
    margin-inline-end: 10%;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}
.main__div-postPeople{
    width: 90%;
    height: 100%;
    margin: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.main__section-postPeople{
    width: 85%;
    height: auto;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main__section-postPeople>h3{
    /* background-color: #8d07b6; */
    display: inline;
}
#postHour{
    background-color: azure;
    display: inline-flex;
    color: rgb(100, 100, 100);
    font-size: 12px;
}
.main__section-postPeople>p{
    /* background-color: #a45bbb; */
    text-align: left;
    margin-top: 5px;
    color: #2f2f2f;
}
.main__section-postPeople>figure{
    width: 100%;
    height: 350px;
    /* background-color: red; */
    display: flex;
    margin-top: 10px;
}
.post2Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
@media screen and (max-height: 750px){
    *{
        font-size: 14px;
    }
    #root{
        height: 100%;
        width: 100vw;}
    #iniciar{
        font-size: 14px;
    }
    #google{
        margin-top: 10%;}
    #google>p{
            font-size: 12px;
        }
        .imageGooglep{
            width: 18px;
            height: 18px;
            margin: 6px;
        }
        #registro{
            margin-top: 5px;
            margin-bottom: 20px;

        }
}

@media screen and (min-width: 900px){
    #root{
        flex-direction: row-reverse;
    }
    #divIngresar{
        width: 50%;      
    }
    .div__imageLogin{
        width: 50%;
        
    }
    .imageLogin{
        display: block;
        opacity: 0.94;
        height: 100vh;
        width: auto;
        margin-left: 50px;
        padding: 10px;

        
    }
    #google{
        text-align: center;
        margin-top: 10%;}

        .main__div, .main__div-postPeople{
            width: 70%;
        }
        .main__div{margin-left: 15%;}
        .main__section-postPeople>figure{
            height: 500px;
        }
}